<h1>Manage</h1>

<ol id="real-time-message"></ol>

<img id="real-time-image" src="#" alt="Ảnh Theo Thời Gian Thực">

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>

<script>
    var connectionImage = new signalR.HubConnectionBuilder().withUrl("/RealTimeImage").build();
    connectionImage.start().catch((err) => {
        return console.error(err.toString())
    })

    connectionImage.on("ReceiveImage", (imageData, encodeType) => {
        console.log(`Get image`);
        document.getElementById("real-time-image").src = `data:image/png;${encodeType},${imageData}`;
    })

    var connectionMessage = new signalR.HubConnectionBuilder().withUrl("/RealTimeMessage").build();
    connectionMessage.start().catch((err) => {
        return console.error(err.toString())
    })

    connectionMessage.on("ReceiveMessage", (User, Message) => {
        console.log(`ReceiveMessage: ${User}: ${Message}`)
        console.log(document.getElementById("real-time-message"))
        var newListItem = document.createElement("li")
        newListItem.appendChild(document.createTextNode(`${User}: ${Message}`))
        document.getElementById("real-time-message").appendChild(
            newListItem
        )
    })
</script>